<div class="searchContainer">
    {{input
        enter='search'
        placeholder='Search for a Song...'
        value=keyword}}
    <button {{action 'search'}}>Search</button>
</div>
<div class="typeSearch">
    <span>Search By:</span>
    {{#power-select
    onchange=(action (mut searchKey))
    options=searchTypes
    selected=searchKey
    as |type|}}
        {{type.label}}
    {{/power-select}}
</div>

{{song-table songs=songs}}