<div class="searchContainer">
    {{input
        enter='search'
        placeholder='Search for a Genre...'
        value=name}}
    <button {{action 'search' name}}>Search</button>
</div>

{{genre-table genres=genres}}