<div class="searchContainer">
    {{input
        enter='search'
        placeholder='Search for Genres similar to...'
        value=name}}
    <button {{action 'search' name}}>Find Similar</button>
</div>

{{genre-table genres=genres}}