<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Enter a genre name...'
    value=keyword}}
  <button {{action 'search' keyword}}>Search Top Artists</button>
</div>
{{artist-table artists=results}}