<table>
  <tr>
    <th>Artist</th>
    <th>Familiarity Rating</th>
  </tr>
  {{#each model as |artist|}}
    <tr>
      <td>{{artist.name}}</td>
      <td>{{artist.familiarity}}</td>
    </tr>
  {{/each}}
</table>
