<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Lookup an Artist...'
    value=keyword}}
    <button {{action 'search' keyword}}>Search</button>
</div>
Hotttnesss Type:
<div class="radioContainer">
    {{#paper-radio value='overall' selected=type}}Overall{{/paper-radio}}
    {{#paper-radio value='social' selected=type}}Social{{/paper-radio}}
    {{#paper-radio value='reviews' selected=type}}Reviews{{/paper-radio}}
    {{#paper-radio value='mainstream' selected=type}}Mainstream{{/paper-radio}}
</div>
{{artist-table artist=artist}}