<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Search for an Artist...'
    value=keyword}}
    <button {{action 'search' keyword}}>Search</button>
</div>
{{artist-table artist=artist}}