<div class="searchContainer">
    {{input
    enter='search'
    placeholder='Enter an artist name...'
    value=keyword}}
  <button {{action 'search' keyword}}>Similar</button>
</div>
{{artist-table artists=results}}