/* General Styles */
body {
    padding: 0 10px;
}

.header,
.title {
    text-align: center;
}

.header {
    margin-bottom: 5px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Form Styles */
input {
    border-radius: 5px;
    margin: 5px;
    min-width: 150px;
    padding: 5px;
}

/* Table Styles */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkgray;
}

th {
    padding: 5px 0;
}

td {
    padding: 5px;
}

td ul {
    margin: 0;
    padding: 0;
}

td ul li {
    list-style-type: none;
}

/* Search Styles */
.searchContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
}
