<h1 class="title">
    <a href="https://github.com/elwayman02/ember-data-echonest" target="_blank">Ember Data Echonest Demo</a>
</h1>

<div class="header">
    <h2>Examples</h2>

    {{#link-to 'index'}}<button>Home</button>{{/link-to}}
    {{#link-to 'artists'}}<button>Artists</button>{{/link-to}}
    {{#link-to 'genres'}}<button>Genres</button>{{/link-to}}
    {{#link-to 'playlists'}}<button>Playlists</button>{{/link-to}}
    {{#link-to 'songs'}}<button>Songs</button>{{/link-to}}
    {{#link-to 'tracks'}}<button>Tracks</button>{{/link-to}}
</div>

<div class="flex-container">
    {{outlet}}
</div>
