<h1 class="title">
    <a href="https://github.com/elwayman02/ember-data-echonest" target="_blank">Ember Data Echonest Demo</a>
</h1>

<div class="header">
    <h2>Examples</h2>

    {{#link-to 'index'}}<button>Home</button>{{/link-to}}
    {{#link-to 'genres'}}<button>Genres</button>{{/link-to}}
</div>

{{outlet}}
