<div class="header">
    <h3>Artists</h3>

  {{#link-to 'artists.biographies'}}<button>Biographies</button>{{/link-to}}
  {{#link-to 'artists.blogs'}}<button>Blogs</button>{{/link-to}}
  {{#link-to 'artists.familiarity'}}<button>Familiarity</button>{{/link-to}}
</div>

{{outlet}}
