<div class="header">
  <h3>Descriptions</h3>

    {{#link-to 'descriptions.artist'}}<button>Artist</button>{{/link-to}}
    {{#link-to 'descriptions.list'}}<button>List</button>{{/link-to}}
    {{#link-to 'descriptions.top'}}<button>Top</button>{{/link-to}}
</div>

{{outlet}}