<div class="header">
    <h3>Genres</h3>

    {{#link-to 'genres.list'}}<button>List</button>{{/link-to}}
    {{#link-to 'genres.profile'}}<button>Profile</button>{{/link-to}}
    {{#link-to 'genres.search'}}<button>Search</button>{{/link-to}}
</div>

{{outlet}}