<div class="header">
    <h3>Songs</h3>

    {{#link-to 'songs.artist'}}<button>Artist</button>{{/link-to}}
    {{#link-to 'songs.profile'}}<button>Profile</button>{{/link-to}}
    {{#link-to 'songs.search'}}<button>Search</button>{{/link-to}}
</div>

{{outlet}}