<div class="searchContainer">
    {{input
        enter='search'
        placeholder='Search for an Artist...'
        value=keyword}}
    <button {{action 'search' keyword}}>Create Playlist</button>
</div>

{{song-table
    allowSorting=false
    showDetails=false
    songs=playlist}}